/* actividades  */


.h2_act{ margin-bottom: 2rem;
    text-align: center;
color: $color-primario;
font-family: $fuentePrincipal;
}

    
.texto_explicativo{
    font-size: 1.5rem;
    align-items: center;
    color:$color-terciario;
    font-family: $fuentePrincipal;
  }


  #carouselExampleFade{ 
 display: flex;
    flex-direction: column;
   justify-content:flex-end;
   left: 30%;  
    width: 500px; 
  
 }

 @media (max-width:764px) {
    #carouselExampleFade{
        flex-direction: row;
        justify-content: right;
left: 0%;
    }
 }
