/* primera pagina */



body{

  background-image: linear-gradient(to left, #10528b ,  #3E6D9C );
 }

    img{
        max-width: 100%;
      }
      
h1{  text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
            color: coral;
            animation-duration: 3s;
            animation-name: aparecer;
            animation-iteration-count: infinite;}
            
            @keyframes aparecer{
              0% {
            opacity: 0;}
            100% { opacity: 1;} 
            }

           .p__titulo{text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
                    color: coral;
                    margin-bottom: 3rem;
                    animation-duration: 3s;
                    animation-name: aparecer;
                    animation-iteration-count: infinite;}
                    
                    @keyframes aparecer{
                      0% {
                    opacity: 0;}
                    100% { opacity: 1;} 
                    }
           
            p{ text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                        color: #a6bbce;
                        margin-bottom: 3rem;}

                        .item__video {
                            margin-top: 2rem;
                            text-align: center;
                            font-size: 1.5em;
                            margin-bottom: 3rem; }
                        
                            .iframe{
                                width: 50%; 
                                }
                                

                        .h2  {color: #3d4b57;
                        margin-bottom: 2rem;
                    font-family: Georgia, 'Times New Roman', Times, serif;}
                        
                  .p__video::first-letter { color: #3d4b57 ;
                    font-size: 3.5rem;
                                    margin-bottom: 2rem;
                                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                       } 
                       
                       .texto__bajo__contenedor::first-letter { color: #3d4b57 ;
                        font-size: 3.5rem;
                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }


                    
    .img__pag1 img {
        height: 350px;
       width: 400px;
       margin-bottom: 5rem;
     }

     
  footer{ margin-top: 3rem ;
    font-size: 1.6rem;
  background-color: black;
  padding:2rem;
  text-align: center;
  }

                        