/* paternidad

*/.tipos_de_padres{ 
    background-color:$backgroundPrincipal;
    font-family:$fuentePrincipal;
    
  font-size: 2.5rem;
  text-align: center;}
  .lista__paternidad li:nth-child(even){ 
    font-family:$fuentePrincipal;
    font-size: 1.5rem;
    color: rgb(61, 42, 146)}
    
  .lista__paternidad li:nth-child(odd){ 
    font-family:$fuentePrincipal;
    
    font-size: 1.5rem;
    color:$color-primario; }

    .paternidad_h3{ 
      font-family:$fuentePrincipal;
        text-align: center;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      color: chocolate;}

        .accordion-button {
            background-color:$color-primario;
            color:$color-secundario;
            font-family: $fuentePrincipal;
          font-size: 1.5rem;}

          