/* paternidad

*/.tipos_de_padres{ 
    background-color:$backgroundPrincipal;
    
  font-size: 3rem;
  text-align: center;}
  .lista__paternidad li:nth-child(even){ 
    font-size: 1.5rem;
    color:$color-secundario}
  .lista__paternidad li:nth-child(odd){ 
    
    font-size: 1.5rem;
    color:$color-primario; }

    .paternidad_h3{ 
        text-align: center;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      color: $color-secundario;}

        .accordion-button {
            background-color:$color-primario;
            color:$color-secundario;
            font-family: $fuentePrincipal;
          font-size: 1.5rem;}