/*  estilos globales */




body { 
  font-family: $fuentePrincipal;
      
   }
    
    .navbar a { color: $color-terciario;
             font-family: $fuentePrincipal;
             background-color: $backgroundPrincipal;
        color: #0e263f;
      }
      
      h1{ 
        @include h1
      }
     

      