/* PAGINA INICIO */



body {

  background-image: linear-gradient(to left, white, #3E6D9C);
  
  img {
  width: 80%;
}

 h1 {
  font-weight: bold;
}
 


@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* p {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color:$color-terciario;
  margin-bottom: 3rem;
  font-family: $fuentePrincipal;
}
 */

 .p__titulo{
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(218, 103, 62);
  margin-bottom: 3rem;
  font-family:$fuentePrincipal;
 }


.item__video {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3rem;
}

.iframe {
  width: 50%;
}

.video__contenedor{
  
height: 100%;
}

.h2 {
  color:$color-footer;
    margin-bottom: 2rem;
  font-family:$fuentePrincipal;
}

.p__video{ color:black;}


.p__video::first-letter {
  color:$color-quinariass;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family:$fuentePrincipal;
}

.texto__bajo__contenedor::first-letter {
  color:$color-quinariass;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family:$fuentePrincipal;
}

.texto__bajo__contenedor{
  @extend .p__video;
}
.img__pag1 img {
  height: 50%;
  width: 50%;
  margin-bottom: 5rem;
  background-image: $color-quinariass;
padding: 30px;
}


.estilo_footer {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: aqua;
  text-align: center;}

}

@media (min-width: 768px) {
  

      .img__pag1 {
        width:90%;
        height: 90%;
        justify-items: center;
      }
  }

@media (min-width: 992px) {
  .img__pag1 {
    width:90%;
    height: 90%;
    justify-items: center;
  }
}


@media (min-width: 1200px) {
  .img__pag1 {
    width:90%;
    height: 90%;
    justify-items: center;
  
}
  }

  .footer { text-align: center;
    color: black;
    font-size: 0.8rem;}