.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #3E6D9C;
  background-image: linear-gradient(to left, white, #3E6D9C);
}
.navbar a {
  color: #3E6D9C;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  background-color: #3E6D9C;
}

/* primera pagina */
body {
  background-image: linear-gradient(to left, #10528b, #3E6D9C);
}
body img {
  max-width: 100%;
}
body h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: coral;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .p__titulo {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: coral;
  margin-bottom: 3rem;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body p {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #a6bbce;
  margin-bottom: 3rem;
}
body .item__video {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3rem;
}
body .iframe {
  width: 50%;
}
body .h2 {
  color: #3d4b57;
  margin-bottom: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body .p__video::first-letter {
  color: #3d4b57;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .texto__bajo__contenedor::first-letter {
  color: #3d4b57;
  font-size: 3.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .img__pag1 img {
  height: 350px;
  width: 400px;
  margin-bottom: 5rem;
}
body footer {
  margin-top: 3rem;
  font-size: 1.6rem;
  background-color: black;
  padding: 2rem;
  text-align: center;
}

/* paternidad

*/
.tipos_de_padres {
  background-color: #e99f2f;
  color: #10528b;
  font-size: 3rem;
  text-align: center;
}

.lista__paternidad li:nth-child(even) {
  font-size: 1.5rem;
  color: white;
}

.lista__paternidad li:nth-child(odd) {
  font-size: 1.5rem;
  color: #e99f2f;
}

.paternidad_h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accordion-button {
  background-color: #44a1f3;
  color: black;
  font-size: 1.5rem;
}

/* actividades  */
.h2_act {
  margin-bottom: 2rem;
  text-align: center;
  color: #e99f2f;
}

.texto_explicativo {
  font-size: 1.5rem;
  align-items: center;
  color: rgb(66, 32, 7);
  font-family: "Times New Roman", Times, serif;
}

#carouselExampleFade {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 30%;
  width: 500px;
}

@media (max-width: 764px) {
  #carouselExampleFade {
    flex-direction: row;
    justify-content: right;
    left: 0%;
  }
}
/* mensajes */
.box {
  margin: 20px;
}

.box1 {
  background-color: #001253;
}

.box2 {
  background-color: orange;
}

.box3 {
  background-color: purple;
}

.box4 {
  background-color: grey;
}

.box {
  transition: transform 0.2s;
}

.box:hover {
  transform: scale(1.5);
}

/*# sourceMappingURL=styles.css.map */
